<template name="sessionList">
  <div class="heading">
    <div class="container">
      <h1>Sessions</h1>
    </div>
  </div>
  <div class="container">
    <p><br></p>

    <div class="schedule">
      <div class="clearfix"></div>
      <div class="sessions list">
        <div class="followWrap" style="height: 60px;">
          <div class="day-floating">
            <span>2015-10-17</span>
          </div>
        </div>

        {{#each sessions}}
          {{> sessionItem}}
        {{/each}}
      </div>
    </div>
  </div>
</template>

<!--
{{#each sessions}}
  {{> sessionItem}}
{{/each}}
-->
